

.space-field{
    padding-bottom: 16px;
}
.buttons{
    margin: 0px 10px;
    width: 100px;
}
.bottom-space{
    padding-bottom: 16px;
}
.bottom-space-rest{
    padding-bottom: 10px;
}
.container-buttons{
    padding-top: 30px;
}
.variable-day{
    padding-bottom: 16px;
}